 .zhong {
    height: 490px;
    display: flex;
    margin-bottom: 35px;
    position: relative;
    left: 0;
    top: 0;
  }

  .dw {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #C81207;
    width: 396px;
    color: white;
    height: 36px;
    text-align: left;
    line-height: 36px;
    font-size: 20px;
    text-indent: 10px;
    z-index: 999;
  }

  .yi {
    flex: 2;
    transition: 500ms;
  }

  .er {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .san {
    flex: 3;
  }

  .Journalism {
    height: 48px;
    border-bottom: 1px #C71106 solid;
    display: flex;
    justify-content: space-between;
  }

  .li {
    padding: 0 23px;
    text-align: left;
  }

  .span1 {
    color: red;
    font-size: 22px;
  }

  .span2 {
    color: #828282;
    font-size: 19px;
  }

  .potor:nth-child(1) {
    margin: 0 5px 3px 5px;
  }

  .potor:nth-child(2) {
    margin: 3px 5px 3px 5px;
  }

  .potor:nth-child(3) {
    margin: 3px 5px 3px 5px;
  }

  .potor:nth-child(4) {
    margin: 3px 5px 0px 5px;
  }

  .potor {
    flex: 1;
    height: 115px;
    width: 200px;
  }

  .potor.active {
    border: 3px red solid;
  }

  .p {
    font-size: 17px;
    color: #2D2D2D;
    line-height: 28px;
    margin: 10px 0;
  }

  .g {
    font-size: 15px;
    color: #919191;
  }

  .gg {
    margin: 20px 0 10px 0;
  }
  .yi.active {
    opacity: 0.5;
  }
